@model GuildRPG.ViewModels.MercPageViewModel

@{
    ViewData["Title"] = "Najemnicy";
}

<h1>Najemnicy</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mercenaries.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mercenaries.First().Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mercenaries.First().ExperiencePoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mercenaries.First().MaxHealth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mercenaries.First().CurrentHealth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mercenaries.First().Damage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mercenaries.First().Gold)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Mercenaries) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperiencePoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxHealth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentHealth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Damage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gold)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.HasPreviousPage)
{
    <a asp-action="Index" asp-route-pageNumber="@(Model.PageNumber - 1)" class="btn btn-primary">Poprzednia</a>
}

<span>Strona @Model.PageNumber z @Model.TotalPages</span>

@if (Model.HasNextPage)
{
    <a asp-action="Index" asp-route-pageNumber="@(Model.PageNumber + 1)" class="btn btn-primary">Następna</a>
}
