@model GuildRPG.Models.Quest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quest</h4>
    <img src="~/Images/scroll.png" asp-append-version=true/>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RewardXP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RewardXP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RewardMoney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RewardMoney)
        </dd>
        <dt class="col-sm-2">
           @Html.DisplayNameFor(model => model.Enemy.Name)
        </dt>
        <dd class="col-sm-10">
            <a asp-action="Details" asp-controller="Monsters" asp-route-id="@Model.Enemy.Id">@Html.DisplayFor(model => model.Enemy.Name)</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
